.body{
    position: absolute;
    bottom: 8%;
    left: 4.25%;
    top: 20%;
    right: 0%;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.heading{
    position: absolute;
    left: 31.19%;
    top: 5%;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #154454;
}

.info {
    position: absolute;
    left: 31.19%;
    top: 10%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */
    display: flex;
    align-items: center;
    
    color: #333333;
}

.email {
    position: absolute;
    left: 31.19%;
    top: 20%;

    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.emailid {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 31.19%;
    top: 22.5%;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    align-items: center;

    color: #AAAAAA;
}

.title {
    position: absolute;
    left: 31.19%;
    top: 32.5%;

    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.title-select {
    position: absolute;
    width: 77px;
    height: 30px;
    left: 31.19%;
    top: 35%;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
}

mat-select-trigger {
    margin-left: 10%;
    margin-top: 10%;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;

    color: #333333;
}

.firstnames {
    position: absolute;
    left: 37.55%;
    top: 32.5%;

    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.firstname {
    position: absolute;
    width: 193px;
    height: 30px;
    left: 37.55%;
    top: 35%;
    
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}


.lastnames {
    position: absolute;
    left: 53.44%;
    top: 32.5%;

    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.lastname {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 53.44%;
    top: 35%;
    
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.numbersP {
    position: absolute;
    left: 31.19%;
    top: 45%;
    
    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    
    color: #666666;
}

.numberP {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 31.19%;
    top: 47.5%;
    
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
}

.numbersS {
    position: absolute;
    left: 53.44%;
    top: 45%;
    
    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    
    color: #666666;
}

.numberS {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 53.44%;
    top: 47.5%;
    
    background: #FFFFFF;
    border: 0px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
}

.landlines {
    position: absolute;
    left: 31.19%;
    top: 57.5%;
    
    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    
    color: #666666;
}

.landline {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 31.19%;
    top: 60%;
    
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
}

.designations {
    position: absolute;
    left: 53.44%;
    top: 57.5%;
    
    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    
    color: #666666;
}

.designation {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 53.44%;
    top: 60%;
    
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
}

.profilePics {
    position: absolute;
    left: 31.19%;
    top: 70%;
    
    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    
    color: #666666;
}

.upload {
    position: absolute;
    width: 254px;
    height: 150px;
    left: 31.19%;
    top: 72.5%;

    background: #E3F5FC;
    border: 1px dashed #2E93B7;
    box-sizing: border-box;
    border-radius: 4px;
}

.droptext {
    position: absolute;
    left: 25%;
    top: 50%;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;

    color: #AAAAAA;
}

.ortext {
    position: absolute;
    left: 47%;
    top: 65%;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #666666;
}

.browsetext {
    position: absolute;
    left: 37%;
    top: 78.5%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #2E93B7;    
}

.arrow {
    position: absolute;
    left: 50%;
    top: 20%;
    
    border: 0px solid #666666;
}

.box {
    position: absolute;
    left: 46%;
    top: 30%;
    
    border: 0px solid #666666;
}

.up{
    position: absolute;
    left: 47.5%;
    top: 20%;
    
    border: 0px solid #666666;
}