.heading{
    position: absolute;
    left: 31.19%;
    right: 31.48%;
    top: 15.89%;
    bottom: 80.99%;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #154454;
}

.info {
    position: absolute;
    left: 31.19%;
    right: 41.07%;
    top: 19.79%;
    bottom: 77.34%;
    
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */
    display: flex;
    align-items: center;
    
    color: #333333;
}

.document {
    position: absolute;
    left: 31.19%;
    right: 60.69%;
    top: 25.65%;
    bottom: 72.53%;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #666666;
}

.upload {
    position: absolute;
    width: 584px;
    height: 120px;
    left: 31.19%;
    top: 28%;

    background: #E3F5FC;
    border: 1px dashed #2E93B7;
    box-sizing: border-box;
    border-radius: 4px;
}

.droptext {
    position: absolute;
    left: 38%;
    top: 50%;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;

    color: #AAAAAA;
}

.ortext {
    position: absolute;
    left: 49%;
    top: 65%;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #666666;
}

.browsetext {
    position: absolute;
    left: 45%;
    top: 78.5%;
    
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #2E93B7;    
}

.arrow {
    position: absolute;
    left: 50%;
    top: 20%;
    
    border: 0px solid #666666;
}

.box {
    position: absolute;
    left: 48.25%;
    top: 30%;
    
    border: 0px solid #666666;
}

.up{
    position: absolute;
    left: 49%;
    top: 20%;
    
    border: 0px solid #666666;
}

.uplodedDocument{
    position: absolute;
    left: 31.19%;
    right: 57.76%;
    top: 47.14%;
    bottom: 50.78%;
    
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #154454;
}

.uplodedDocuments {
    position: absolute;
    height: 253px;
    left: 31.19%;
    top: 50%;
    width: 584px;
    
    /* white */
    background: #F3F6F9;
    border: 0px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 8px;
}

.sub {
    height: 49px;
    background: #F3F6F9;
    border: 0px solid #EBEBEB;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    align-items: center;
  
    color: #666666;
}

.rows {
    background: white;
}