.text {
    position: absolute;
    left: 43.27%;
    right: 19.4%;
    top: 60.55%;
    bottom: 33.2%;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25px;

    color: #666666;
}

.users {
    position: absolute;
    width: 149px;
    height: 32px;
    left: 63%;
    top: 67.5%;

    background: #2E93B7;
    border-radius: 10px;
    border: 0px solid #707070;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #FFFFFF;
}

.home {
    position: absolute;
    width: 110px;
    height: 32px;
    left: 53%;
    top: 67.5%;

    background: #EBEBEB;
    border-radius: 10px;
    border: 0px solid #707070;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #2E93B7;
}