.left_panel {
    position: absolute;
    width: 268px;
    height: 93.5%;
    left: 61px;
    top: 51px;
    border: 0px solid #154454;

    background: #FFFFFF;
    box-shadow: 2px 0px 25px rgba(0, 0, 0, 0.06);
}

.back_btn{
    position: absolute;
    left: 6.44%;
    top: 3%;
    right: 93.12%;
    bottom: 87.11%;
    height: 40px;
    width: 140px;
    border: 0px solid #154454;
}

.back {
    position: absolute;
    left: 10%;
    top: 5%;
    border: 0px solid #154454;
}

.btn {
    position: absolute;
    left: 25%;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #154454;
}

.heading {

    position: absolute;

    left: 10%;
    top: 10%;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    /* or 125% */
    display: flex;
    align-items: center;

    color: #154454;
}

.subheading {
    position: absolute;

    left: 10%;
    top: 30%;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    display: flex;
    align-items: center;

    color: #154454;
}

.choose{
    position: absolute;
    left: 31.19%;
    right: 31.48%;
    top: 15.89%;
    bottom: 80.99%;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #154454;
}
.mat-button-toggle-group{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
}

.mat-button-toggle{
    position: absolute;
    width: 400px;
    height: 108px;
    left: 426px;
    top: 170px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.userPro {
    position:absolute; 
    width: 60px;
    height: 60px;
    left: -650%;
    top: 7.5px;

    background: #FFFFFF;
    border: 1px solid #2E93B7;
    box-sizing: border-box;
    border-radius: 10px;
}

.face {
    position: absolute;
    left: 34.68%;
    right: 64.35%;
    top: 27.21%;
    bottom: 71.05%;

    border: 0px solid #2E93B7;
}

.Body {
    position: absolute;
    left: 24%;
    right: 63.86%;
    top: 60%;
    bottom: 68.88%;

    border: 0px solid #2E93B7;
}

.IU{
    position: absolute;
    left: -350%;
    top: 10px;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #154454;
}

.IU_des {
    position: absolute;
    left: -350%;
    top: 30px;
    
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    display: flex;
    align-items: center;
    
    color: #333333;
}

.choice2{
    position: absolute;
    width: 400px;
    height: 108px;
    left: 850px;
    top: 170px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.choice3{
    position: absolute;
    width: 400px;
    height: 108px;
    left: 426px;
    top: 302px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.choice4{
    position: absolute;
    width: 400px;
    height: 108px;
    left: 850px;
    top: 302px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.footer {
    position: absolute;
    width: 79%;
    height: 64px;
    left: 329px;
    top: 92%;

    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}

.next{
    position: absolute;
    width: 75px;
    height: 32px;
    left: 90%;
    top: 30%;

    border: 0px solid #E0E0E0;
    background: #EBEBEB;
    border-radius: 10px;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    align-items: center;
    letter-spacing: 0.25px;

    color: #AAAAAA;
}

.selected-value {
    margin: 40% 40%;
}