<app-sidebar pageForward={{next}} pageBackward={{previous}}></app-sidebar>
<div class="body">
    <h2 class="heading">Assign Role</h2>
    <p class="info">Select a suitable role for the user</p>

    <div class="searchbar">
        <img src="assets/Oval.svg" class="oval"> 
        <img src="assets/Shapehandle.svg" class="handle"> 
        <input class="search" type="text" placeholder="Search role here">
    </div>

    <!-- <table mat-table [dataSource]="dataSource" class="table">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Role ID </th>
            <td mat-cell *matCellDef="let role"> {{role.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Role Name </th>
            <td mat-cell *matCellDef="let role"> {{role.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role Type</th> 
            <td mat-cell *matCellDef="let role"> {{role.type}} </td>
        </ng-container>

        <tr class="titlebar" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>      -->
</div>