<app-sidebar pageForward={{next}} pageBackward={{previous}} href={{href}}></app-sidebar>
<div class="body">
    <h2 class="heading">Assign Role</h2>
    <p class="info">Select a suitable role for the user</p>

    <div class="searchbar">
        <img src="assets/Oval.svg" class="oval"> 
        <img src="assets/Shapehandle.svg" class="handle"> 
        <input class="search" type="text" placeholder="Search role here" [(ngModel)]="searchedKeyword">
    </div>

    <table class="bordered">

        <tr class="titlebar">
            <th height="30" [appSort]="roles" data-order="desc" data-name="name" scope="col">Role Name <img class="up" src="assets/Vector.png"></th>
            <th height="30" [appSort]="roles" data-order="desc" data-name="type" scope="col">Role Type <img class="up" src="assets/Vector.png"></th>
        </tr>

        <tr class="rows" *ngFor="let role of roles | filter:searchedKeyword">
            <td class="firstrow">
                <input type="radio" name="radAnswer">
                {{role.name}}
            </td>
            <td  class="lastrow">{{role.type}}</td>
        </tr>

    </table>
</div>