.body{
    position: absolute;
    bottom: 8%;
    left: 4.25%;
    top: 20%;
    right: 0%;

    overflow-y: scroll;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.heading{
    position: absolute;
    left: 31.19%;
    top: 5%;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #154454;
}

.info {
    position: absolute;
    left: 31.19%;
    top: 10%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */
    display: flex;
    align-items: center;
    
    color: #333333;
}

.searchbar {
    position: absolute;
    width: 584px;
    height: 30px;
    left: 31.19%;
    top: 20%;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
}

.oval {
    position: absolute;
    left: 2%;
    top: 15%;

    border: 0px solid #707070;
}

.handle {
    position: absolute;
    left: 4%;
    top: 50%;
    
    border: 0px solid #707070;
}

.search {
    width: 91%;
    height: 85%;
    margin-left: 7%;
    border: 0px solid #707070;
    border-radius: 4px;
}

.table {
    position: absolute;
    width: 584px;
    left: 31.19%;
    top: 26%;
    
    /* white */
    background: #F3F6F9;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
}

.titlebar{
    height: 30px;
    background: #F3F6F9;
    border: 0px solid #EBEBEB;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 100% */
    align-items: center;
  
    color: #666666;
}

.rows {
    height: 60px;
    background: #FFFFFF;
    border: 0px solid;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 100% */
    /* display: flex; */
    align-items: center;

    color: #333333;
}

.checkbox {
    height: 20px;
    width: 20px;
}

.cname {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    align-items: center;

    color: #333333;
}

.profile{
    border: 0px solid;
    border-radius: 0%;
    padding-left: 3%;
    padding-right: 3%;
}