<div class="header">
    <h1 class="heading">Users</h1>
    <div class="navbar">
        <div class="subnav">
            <a class="all active-page" href="/">All</a>
        </div>
        <div class="subnav">
            <a class="draft" href="/drafts">Draft</a>
        </div>
        <div class="subnav">
            <a class="pa" href="/pa">Pending Approval</a>
        </div>
        <div class="subnav">
            <a class="submitted" href="/submitted">Submitted</a>
        </div>
        <div class="subnav">
            <a class="active" href="/active">Active</a>
        </div>
        <div class="subnav">
            <a class="inactive" href="/inactive">Inactive</a>
        </div>
        <div class="subnav">
            <a class="rejected" href="/rejected">Rejected</a>
        </div>
    </div>
    <div class="search">
        <img src="assets/Oval.svg" class="oval"> 
        <img src="assets/Shapehandle.svg" class="handle"> 
    </div>
    <div class="filter">
        <img src="assets/Vectorfilter.svg" class="vfilter"> 
    </div>
    <div>
        <img src="assets/Line 643.svg" class="line"> 
    </div>
    <div class="btn">
        <button class="createUser" (click)="gotoCreateUser()">Create User</button>
    </div>
</div>
