<div class="body">
    <button class="remarks" [style.color]='color1' [style.font-weight]='weight1' (click)="Switch1()">Remarks</button>
    <div class="choice1" *ngIf="showRemarks"></div>
    <button class="changes" [style.color]='color2' [style.font-weight]='weight2' (click)="Switch2()">Changes</button>
    <div class="choice2" *ngIf="showChanges"></div>
    <div class="add" (click)="remarks()">
        <div class="up"></div>
        <div class="down"></div>
    </div>
    <div class="cross" onClick="window.location.reload();">
        <div class="right"></div>
        <div class="left"></div>
    </div>
    <hr class="seperation">
    <div class="remarksBody" *ngIf="showRemarks">

        <div *ngIf="tableEmpty && !show">
            <div class="cirle"><img class="commentLogo" src="assets/Vectorcomment.png"></div>
            <p class="text">Your remarks will appear here<br>Select a section to add remark</p>
        </div>

        <table class="table" *ngIf="!tableEmpty">
            <tr class="savedRemark" *ngFor="let remark of remarksArray">
                <td>
                    <p class="creator">{{remark.creator}}</p>
                    <p class="datetime">{{remark.date}}, {{remark.time}}</p>
                    <p class="remarkText">{{remark.text}}</p>
                    <div class="edit">
                        <img class="notepad" src="assets/Vectornotepad.png">
                        <img class="pencil" src="assets/Vectorpencil.png">
                    </div>
                    <img class="dustbin" src="assets/Vectordustbin.png">
                </td>
            </tr>
        </table>

        <div class="newRemark" *ngIf="show">
            <input class="enterText" type="text" placeholder="Write your remark here" (change)="typed()" />
            <div class="cancel" (click)="remarks()">
                <img src="assets/Vectorline.svg" class="right1"> 
                <img src="assets/Vectorline.svg" class="left1"> 
            </div>
            <div class="approvegrey" *ngIf="!typing">
                <img src="assets/Vectortick.png" class="tick"> 
            </div>
            <div class="approvegreen" *ngIf="typing">
                <img src="assets/Vectortick2.svg" class="tick"> 
            </div>
        </div>
    </div>
    <div class="remarksBody" *ngIf="showChanges">
        <table class="table" *ngIf="!tableEmpty">
            <tr *ngFor="let change of changesArray">
                <td>
                    <p class="creator">{{change.creator}}</p>
                    <p class="datetime">{{change.date}}, {{change.time}}</p>
                    <p class="remarkText">{{change.text}}</p>
                    <div class="view" (click)="showAlertF()">
                        <img class="eye" src="assets/Vectoreye.png">
                        <img class="pupil" src="assets/Vectorpupil.png">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="alert alert-custom  fade in alert-dismissable show" *ngIf="showAlert">
    <h1 class="header">View Changes</h1>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="showAlertT()">
        <span aria-hidden="true" style="font-size:30px;">×</span>
    </button>
    <hr style="border: 1px solid #EBEBEB; margin-left: -3%; width: 106%;">
    <p class="name">{{changesArray[0].creator}}</p>
    <p class="date">{{changesArray[0].date}}, {{changesArray[0].time}}</p>
    <p class="txt">{{remarksArray[0].text}}</p>
    <tr>
        <td style="width:349px; border-right: 1px solid #EBEBEB; border-top: 1px solid #EBEBEB;">
            <p class="name">Old Value</p>
            <p class="txt">sam.wilson123@gmail.com</p>
        </td>
        <td style=" width:349px; padding-left: 5%; border-top: 1px solid #EBEBEB;">
            <p class="name">Changed Value</p>
            <p class="txt" style="color: #F08040;">sam.Wilson@gmail.com</p>
        </td>
    </tr>
</div>