.bordered {
  border: 0px solid #CCCCCC;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 1px #CCCCCC;
}

table {
  border-spacing: 0;
  position: absolute;
  width: 93%;
  left: 6%;
  right: 90%;
  top: 20%;

  /* white */
  background: #FFFFFF;
  border: 0px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 6%;
}        

.firstrow{
  border-left: 1px solid #EBEBEB;
  border-radius: 6px;
}

.lastrow{
  border-right: 1px solid #EBEBEB;
  border-radius: 6px;
}

.bordered th {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */
  height: 30px;
  background: rgba(235, 235, 235, 0.4);
  border: 0px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 0px 0px 0px 0px;
}

.bordered td{
  height: 60px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  align-items: center;
  border-top: 1px solid #EBEBEB;

  color: #333333;
}

.profile{
  border-radius: 50%;
}

.emailid {
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}

.updatedOnTime{
  font-size: 12px;
  line-height: 12px;

  color: #666666;
}

.box{
  width: 14px;
  height: 14px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

.childWrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.childWrapper > li {
  float: left;
  /* padding-top: 5%;*/
  padding-left: 5%;
}

.edit {
  position: absolute;
  border: 0px solid #C2CFE0;
  border-radius: 1px;
  height: 20px;
  width: 20px;
}

.note{
  position: absolute;
  border: 0px solid #707070;
}

.pen{
  position: absolute;
  left: 17%;
  border: 0px solid #707070;
}

.undo {
  position: absolute;
  border: 0px solid #C2CFE0;
  border-radius: 1px;
  height: 20px;
  width: 20px;
  margin-left: 1.75%;
}

.clock{
  position: absolute;
  top: -10%;
  border: 0px solid #707070;
}

.spen{
  position: absolute;
  top: 20%;
  left: 30%;
  border: 0px solid #707070;
}

.more {
  position: absolute;
  border: 0px solid #C2CFE0;
  border-radius: 1px;
  height: 20px;
  width: 20px;
  margin-left: 4%;
}

.button1{
  position: absolute;
  top: 0%;
  border: 0px solid #707070;
}

.button2{
  position: absolute;
  top: 30%;
  border: 0px solid #707070;
}

.button3{
  position: absolute;
  top: 60%;
  border: 0px solid #707070;
}

.history{
  transition: width 2s linear 1s;
  position: absolute;
  width: 401px;
  right: 0%;
  top: -1px;
  bottom: 0%;

  backdrop-filter: blur(2px);

  background: #FFFFFF;
  box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.16);
  border-radius: 10px 0px 0px 10px;
}

.header{
  position: absolute;
  left: 2%;
  top: 2%;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  
  color: #154454;
}

.close{
  position: absolute;
  left: 95%;
  top: 2%;
  font-family: Nunito Sans;
  font-style:normal;
  font-weight:lighter;
  color: #154454;
}

.username{
  position: absolute;
  width: 117px;
  height: 28px;
  left: 2%;
  top: 8%;
  
  background: #EAF0FF;
  border-radius: 30px;
}

.role{
  position: absolute;
  width: 117px;
  height: 28px;
  left: 32%;
  top: 8%;
  
  background: #EAF0FF;
  border-radius: 30px;
}

.status{
  position: absolute;
  width: 117px;
  height: 28px;
  left: 62%;
  top: 8%;
  
  background: #EAF0FF;
  border-radius: 30px;
}

.historyTable{
  position: absolute;
  width: 369px !important;
  left: 2%;
  top: 15%;
}

.text{
  margin-left: 5%;
  margin-top: -4%;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  
  color: #154454;
}

.creator{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  
  color: #AAAAAA;
}
.datetime{
  margin-left: 60%;
  margin-top: -7%;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #AAAAAA;
}

.circle{
  margin-top: 2%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #DBDBDB;
}