.table {
  position: absolute;
  height: 50%;
  width: 93%;
  left: 5%;
  right: 90%;
  top: 18%;

  /* white */
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 8px;
}

.titlebar{
  background: #F3F6F9;
  
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  align-items: center;

  color: #666666;
}

td.mat-cell{
  border-bottom: solid #EBEBEB;
  height: 68px !important;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;

  color: #333333;
}

th.mat-header-cell{
  border-bottom: solid #EBEBEB;
}

.emailid {
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}

.updatedOnTime{
  font-size: 12px;
  line-height: 12px;

  color: #666666;
}

