<app-header ></app-header>

<body class="unfiltered">
    <table class="bordered">
        <thead>
            <tr class="titlebar" style="height: 30px;">
                <th height="30" [appSort]="users" data-order="desc" data-name="firstname" scope="col">User Name <img class="up" src="assets/Vector.png"></th>
                <th height="30" [appSort]="users" data-order="desc" data-name="usertype" scope="col">User Type <img class="up" src="assets/Vector.png"></th>
                <th height="30" [appSort]="users" data-order="desc" data-name="role" scope="col">Role <img class="up" src="assets/Vector.png"></th>
                <th height="30" scope="col">#Customers</th>
                <th height="30" [appSort]="users" data-order="desc" data-name="updatedOnDate" scope="col">Updated On <img class="up" src="assets/Vector.png"></th>
                <th height="30" [appSort]="users" data-order="desc" data-name="status" scope="col">Status <img class="up" src="assets/Vector.png"></th>
                <th height="30" scope="col">Actions</th>
            </tr>
        </thead>

        <tr class="user" *ngFor="let user of users">
            <td class="firstrow"><img class="profile" [src]="user.profile" /> {{user.firstname}} {{user.lastname}}</td>
            <td>{{user.usertype}}</td>
            <td>{{roleManager(user.role)}}</td>
            <td>{{customerManager(user.customers)}}</td>
            <td>{{user.updatedOnDate}}, {{user.updatedOnTime}}</td>
            <td class="childWrapper">
                <li class="colorbox"><div class="box" [ngStyle]="{'background-color' : statusManager(user.status)}"></div></li>
                <li>{{user.status}}</li>
            </td>
            <td class="lastrow">
                <a routerLink="/review-pd" user="user">
                    <div class="edit">
                        <img src="assets/VectorNote.svg" class="note"> 
                        <img src="assets/VectorPen.svg" class="pen"> 
                    </div>
                </a>
                <div class="undo" (click)="showRP()">
                    <img src="assets/VectorClock.svg" class="clock"> 
                    <img src="assets/VectorSPen.svg" class="spen"> 
                </div>
                <div class="more">
                    <img src="assets/VectorButton.svg" class="button1"> 
                    <img src="assets/VectorButton.svg" class="button2">
                    <img src="assets/VectorButton.svg" class="button3">  
                </div>
            </td>
        </tr>
    </table>
</body>

<div class="history"  *ngIf="showRightPanel">
    <h1 class="header">View History</h1>
    <button class="close" (click)="showRP()">x</button>
    <hr style="border: 1px solid #555252; margin-top: 12.5%;">
    <div class="username"></div>
    <div class="role"></div>
    <div class="status"></div>
    <table class="historyTable">
    <tr *ngFor = "let history of histories">
        <td  style="border-top: 1px solid #EBEBEB; border-bottom: 1px solid #EBEBEB;">
            <div class="circle"></div>
            <p class="text">{{history.text}}</p>
            <p class="creator">{{history.creator}}</p>
            <p class="datetime">{{history.date}}, {{history.time}}</p>
        </td>
    </tr>
    </table>
</div>
