<div class="left_panel">
    <a routerLink="/">
        <img src="assets/VectorBack.svg" class="back">
        <h3 class="btn" *ngIf="href === '/user-type' || href === '/personal-details' || href === '/address-details' || href === '/assign-role' ||  href === '/assign-customers' ||  href === '/supporting-documents' || href === '/submitted'">Create User</h3>
        <h3 class="btn" *ngIf="href === '/review-pd' || href === '/review-ad' || href === '/review-ar' || href === '/review-ac' || href === '/review-sd'">Review User Details</h3>
    </a>

    <div class="list">

        <div class="ut">
            <div *ngIf="href != '/user-type' && href != '/review-pd' && href != '/review-ad' && href != '/review-ac' && href != '/review-ac' && href != '/review-sd'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox" checked="true"/> <label class="onPage" for="checkbox"></label></div>
                <label class="text">User Type</label>
            </div>

            <div *ngIf="href === '/user-type'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox"/> <label class="onPage">1</label></div>
                <label class="text onpage">User Type</label>
            </div>
        </div>

        <div class="pd">
            <div *ngIf="href === '/personal-details'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox"/> <label class="onPage">2</label></div>
                <label class="text onpage">Personal Details</label>
            </div>

            <div *ngIf="href === '/address-details' || href === '/assign-role' ||  href === '/assign-customers' ||  href === '/supporting-documents' || href === '/submitted' || href === '/review-ad' || href === '/review-ar' || href === '/review-ac' || href === '/review-sd'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox" checked="true"/> <label class="onPage" for="checkbox"></label></div>
                <label class="text">Personal Details</label>
            </div> 

            <div *ngIf="href === '/review-pd'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox" checked="true"/> <label class="onPage" for="checkbox"></label></div>
                <label class="text onpage">Personal Details</label>
            </div> 

            <div *ngIf="href != '/personal-details' && href != '/address-details' && href != '/assign-role' &&  href != '/assign-customers' &&  href != '/supporting-documents' && href != '/submitted' && href != '/review-pd' && href != '/review-ad' && href != '/review-ar' && href != '/review-ac' && href != '/review-sd'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox"/> <label class="beforePage">2</label></div>
                <label class="text">Personal Details</label>
            </div>
        </div>

        <div class="ad">
            <div *ngIf="href === '/address-details'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox"/> <label class="onPage">3</label></div>
                <label class="text onpage">Address Details</label>
            </div>

            <div *ngIf="href === '/assign-role' ||  href === '/assign-customers' ||  href === '/supporting-documents' || href === '/submitted' || href === '/review-pd' || href === '/review-ar' || href === '/review-ac' || href === '/review-sd'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox" checked="true"/> <label class="onPage" for="checkbox"></label></div>
                <label class="text">Address Details</label>
            </div> 

            <div *ngIf="href === '/review-ad'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox" checked="true"/> <label class="onPage" for="checkbox"></label></div>
                <label class="text onpage">Address Details</label>
            </div> 

            <div *ngIf="href != '/address-details' && href != '/assign-role' &&  href != '/assign-customers' &&  href != '/supporting-documents' && href != '/submitted' && href != '/review-pd' && href != '/review-ad' && href != '/review-ar' && href != '/review-ac' && href != '/review-sd'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox"/> <label class="beforePage">3</label></div>
                <label class="text">Address Details</label>
            </div>
        </div>

        <div class="ar">
            <div *ngIf="href === '/assign-role'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox"/> <label class="onPage">4</label></div>
                <label class="text onpage">Assign Role</label>
            </div>

            <div *ngIf="href === '/assign-customers' ||  href === '/supporting-documents' || href === '/submitted' || href === '/review-pd' || href === '/review-ad' || href === '/review-ac' || href === '/review-sd'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox" checked="true"/> <label class="onPage" for="checkbox"></label></div>
                <label class="text">Assign Role</label>
            </div> 

            <div *ngIf="href === '/review-ar'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox" checked="true"/> <label class="onPage" for="checkbox"></label></div>
                <label class="text onpage">Assign Role</label>
            </div> 

            <div *ngIf="href != '/assign-role' &&  href != '/assign-customers' &&  href != '/supporting-documents' && href != '/submitted' && href != '/review-pd' && href != '/review-ad' && href != '/review-ar' && href != '/review-ac' && href != '/review-sd'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox"/> <label class="beforePage">4</label></div>
                <label class="text">Assign Role</label>
            </div>
        </div>

        <div class="ac">
            <div *ngIf="href === '/assign-customers'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox"/> <label class="onPage">5</label></div>
                <label class="text onpage">Assign Customers</label>
            </div>

            <div *ngIf="href === '/supporting-documents' || href === '/submitted' || href === '/review-pd' || href === '/review-ad' || href === '/review-ar' || href === '/review-sd'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox" checked="true"/> <label class="onPage" for="checkbox"></label></div>
                <label class="text">Assign Customers</label>
            </div> 

            <div *ngIf="href === '/review-ac'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox" checked="true"/> <label class="onPage" for="checkbox"></label></div>
                <label class="text onpage">Assign Customers</label>
            </div> 

            <div *ngIf="href != '/assign-customers' &&  href != '/supporting-documents' && href != '/submitted' && href != '/review-pd' && href != '/review-ad' && href != '/review-ar' && href != '/review-ac' && href != '/review-sd'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox"/> <label class="beforePage">5</label></div>
                <label class="text">Assign Customers</label>
            </div>
        </div>

        <div class="sd">
            <div *ngIf="href === '/supporting-documents'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox"/> <label class="onPage">6</label></div>
                <label class="text onpage sd">Supporting Documents</label>
            </div>

            <div *ngIf="href === '/submitted' || href === '/review-pd' || href === '/review-ad' || href === '/review-ar' || href === '/review-ac'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox" checked="true"/> <label class="onPage" for="checkbox"></label></div>
                <label class="text sd">Supporting Documents</label>
            </div> 

            <div *ngIf="href === '/review-sd'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox" checked="true"/> <label class="onPage" for="checkbox"></label></div>
                <label class="text onpage sd">Supporting Documents</label>
            </div> 

            <div *ngIf="href != '/supporting-documents' && href != '/submitted' && href != '/review-pd' && href != '/review-ad' && href != '/review-ar' && href != '/review-ac' && href != '/review-sd'">
                <div class="round"><input type="checkbox" disabled="true" id="checkbox"/> <label class="beforePage">6</label></div>
                <label class="text sd">Supporting Documents</label>
            </div>
        </div>
    </div>

</div>

<div class="footer" *ngIf="href != '/submitted'" >
    <a [routerLink]="['/', pageForward]"><button class="next">Next</button></a>
    <a [routerLink]="['/', pageBackward]" *ngIf="href != '/user-type' && href != '/review-pd'"><button class="previous">Previous</button></a>
</div>