<a class="top_bar_bg">
  <div class="logo">
    <img src="assets/0b0ddfa13a7c4512bc33d2733515d872 1.png"> 
  </div>
  <div class="settings">
    <img src="assets/Vector.svg" class="settingso"> 
    <img src="assets/Vector-2.svg" class="settingsi"> 
  </div>

  <div class="info">
    <img src="assets/Vector copy.svg" class="infocircle"> 
    <img src="assets/Vector-2 copy.svg" class="infoQ"> 
    <img src="assets/Vector-3.svg" class="infodot"> 
  </div>

  <div class="notify">
    <img src="assets/Vector copy 2.svg" class="bellicon"> 
    <img src="assets/Vector-2 copy 2.svg" class="bell"> 
    <img src="assets/indicator.svg" class="indicator"> 
  </div>

  <div class="profile">
    <img src="assets/avatar/image 2.png" class="avatar">  
  </div>
</a>

<div class="side_nav_bg">
  <a href="/dashboard">
    <div class="dashboard">
      <img src="assets/Vector copy 3.svg" class="a"> 
      <img src="assets/Vector copy 3.svg" class="b"> 
      <img src="assets/Vector copy 3.svg" class="c">
      <img src="assets/Vector copy 3.svg" class="d">
    </div>
  </a>

  <a href="/User">
    <div class="user">
      <img src="assets/Head.svg" class="head"> 
      <img src="assets/Shoulder.svg" class="shoulder"> 
      <img src="assets/Settings outter.svg" class="Osettings">
      <img src="assets/Settings inner.svg" class="Isettings">
    </div>
  </a>

  <a href="/Database">
    <div class="database">
      <img src="assets/databaseRing.svg" class="ring"> 
      <img src="assets/databaseBox.svg" class="box"> 
      <img src="assets/databaseCircle.svg" class="circle">
    </div>
  </a>

  <a href="/Friends">
    <div class="friends">
      <img src="assets/Head.svg" class="head1"> 
      <img src="assets/VectorHalfhead.svg" class="halfhead"> 
      <img src="assets/VectorFullbody.svg" class="fullbody">
      <img src="assets/VectorRightSh.svg" class="rightsh">
    </div>
  </a>
</div>
<app-users></app-users>