.body {
    position: absolute;
    bottom: 8%;
    left: 4.25%;
    top: 20%;
    /* right: 25%; */

    overflow-y: scroll;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.userid{
    position: absolute;
    width: 103px;
    height: 28px;
    left: 20%;
    top: 2.5%;

    background: #E3F5FC;
    border-radius: 30px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */
    display: flex;
    align-items: center;
    color: #666666;
}

.usertype{
    position: absolute;
    width: 103px;
    height: 28px;
    left: 32.5%;
    top: 2.55%;
    
    background: #E3F5FC;
    border-radius: 30px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */
    display: flex;
    align-items:center;
    color: #666666;
}

.userstatus{
    position: absolute;
    width: 103px;
    height: 28px;
    left: 45%;
    top: 2.55%;

    background: #E3F5FC;
    border-radius: 30px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */
    text-align: center;
    color: #666666;
}

.childWrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .childWrapper > li {
    float: left;
    padding-top: 6%;
    padding-left: 12.5%;
  }

  .box{
    width: 12px;
    height: 12px;
    margin-left: -40%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
  }

.remark{
    position: absolute;
    width: 112px;
    height: 32px;
    left: 90%;
    top: 2.5%;

    background: #EBEBEB;
    border: 0px solid #FFFFFF;
    border-radius: 6px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;

    color: #0783B6;
}

.heading{
    position: absolute;
    left: 20%;
    top: 10%;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #154454;
}

.info {
    position: absolute;
    left: 20%;
    top: 15%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */
    display: flex;
    align-items: center;
    
    color: #333333;
}

.email {
    position: absolute;
    left: 20%;
    top: 25%;

    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.emailid {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 20%;
    top: 27.5%;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    align-items: center;

    color: #AAAAAA;
}

.title {
    position: absolute;
    left: 20%;
    top: 37.5%;

    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.title-select {
    position: absolute;
    width: 77px;
    height: 30px;
    left: 20%;
    top: 40%;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
}

mat-select-trigger {
    margin-left: 10%;
    margin-top: 10%;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;

    color: #333333;
}

.firstnames {
    position: absolute;
    left: 30%;
    top: 37.5%;

    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.firstname {
    position: absolute;
    width: 193px;
    height: 30px;
    left: 30%;
    top: 40%;
    
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}


.lastnames {
    position: absolute;
    left: 53.44%;
    top: 37.5%;

    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.lastname {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 53.44%;
    top: 40%;
    
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.numbersP {
    position: absolute;
    left: 20%;
    top: 50%;
    
    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    
    color: #666666;
}

.numberP {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 20%;
    top: 52.5%;
    
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
}

.numbersS {
    position: absolute;
    left: 53.44%;
    top: 50%;
    
    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    
    color: #666666;
}

.numberS {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 53.44%;
    top: 52.5%;
    
    background: #FFFFFF;
    border: 0px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
}

.landlines {
    position: absolute;
    left: 20%;
    top: 62.5%;
    
    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    
    color: #666666;
}

.landline {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 20%;
    top: 65%;
    
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
}

.designations {
    position: absolute;
    left: 53.44%;
    top: 62.5%;
    
    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    
    color: #666666;
}

.designation {
    position: absolute;
    width: 280px;
    height: 30px;
    left: 53.44%;
    top: 65%;
    
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
}

.profilePics {
    position: absolute;
    left: 20%;
    top: 75%;
    
    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    
    color: #666666;
}

.upload {
    position: absolute;
    width: 254px;
    height: 150px;
    left: 20%;
    top: 77.5%;

    background: #E3F5FC;
    border: 1px dashed #2E93B7;
    box-sizing: border-box;
    border-radius: 4px;
}

.droptext {
    position: absolute;
    left: 25%;
    top: 50%;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;

    color: #AAAAAA;
}

.ortext {
    position: absolute;
    left: 47%;
    top: 65%;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #666666;
}

.browsetext {
    position: absolute;
    left: 37%;
    top: 78.5%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #2E93B7;    
}

.arrow {
    position: absolute;
    left: 50%;
    top: 20%;
    
    border: 0px solid #666666;
}

.Box {
    position: absolute;
    left: 46%;
    top: 30%;
    
    border: 0px solid #666666;
}

.up{
    position: absolute;
    left: 47.5%;
    top: 20%;
    
    border: 0px solid #666666;
}