.body{
    position: absolute;
    bottom: 8%;
    left: 4.25%;
    top: 20%;

    overflow-y: scroll;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.userid{
    position: absolute;
    width: 103px;
    height: 28px;
    left: 20%;
    top: 2.5%;

    background: #E3F5FC;
    border-radius: 30px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */
    display: flex;
    align-items: center;
    color: #666666;
}

.usertype{
    position: absolute;
    width: 103px;
    height: 28px;
    left: 32.5%;
    top: 2.55%;
    
    background: #E3F5FC;
    border-radius: 30px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */
    display: flex;
    align-items:center;
    color: #666666;
}

.userstatus{
    position: absolute;
    width: 103px;
    height: 28px;
    left: 45%;
    top: 2.55%;

    background: #E3F5FC;
    border-radius: 30px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */
    text-align: center;
    color: #666666;
}

.childWrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .childWrapper > li {
    float: left;
    padding-top: 6%;
    padding-left: 12.5%;
  }

  .box{
    width: 12px;
    height: 12px;
    margin-left: -40%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
  }

.remark{
    position: absolute;
    width: 112px;
    height: 32px;
    left: 90%;
    top: 2.5%;

    background: #EBEBEB;
    border: 0px solid #FFFFFF;
    border-radius: 6px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;

    color: #0783B6;
}

.comment{
    margin-top: 10%;
    margin-left: 15%;
}

.line1{
    margin-top: -10%;
    margin-left: -15%;
}

.line2{
    margin-top: -5%;
    margin-left: -10%;
}
.line3{
    margin-top: 1%;
    margin-left: -8%;
}


.heading{
    position: absolute;
    left: 20%;
    top: 10%;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #154454;
}

.info {
    position: absolute;
    left: 20%;
    top: 15%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */
    display: flex;
    align-items: center;
    
    color: #333333;
}

.officeAddress {
    position: absolute;
    left: 20%;
    top: 25%;

    /* Lables */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #154454;
}

.OA {
    position: absolute;
    width: 584px;
    height: 240px;
    left: 20%;
    top: 30%;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
}

.streetAddress1 {
    position: absolute;
    left: 5%;
    top: 10%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #666666;
}

.sa1 {
    position: absolute;
    width: 544px;
    height: 30px;
    left: 5%;
    top: 20%;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;

    color: #AAAAAA;
}

.streetAddress2 {
    position: absolute;
    left: 5%;
    top: 40%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #666666;
}

.sa2 {
    position: absolute;
    width: 544px;
    height: 30px;
    left: 5%;
    top: 50%;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;

    color: #AAAAAA;
}

.country {
    position: absolute;
    left: 5%;
    top: 70%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #666666;
}

.country-select {
    position: absolute;
    width: 118px;
    height: 30px;
    left: 5%;
    top: 80%;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.state {
    position: absolute;
    left: 30%;
    top: 70%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #666666;
}

.state-select {
    position: absolute;
    width: 118px;
    height: 30px;
    left: 30%;
    top: 80%;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.city {
    position: absolute;
    left: 55%;
    top: 70%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #666666;
}

.city-select {
    position: absolute;
    width: 118px;
    height: 30px;
    left: 55%;
    top: 80%;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.pincodes {
    position: absolute;
    left: 78%;
    top: 70%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #666666;
}

.pincode {
    position: absolute;
    width: 118px;
    height: 30px;
    left: 78%;
    top: 80%;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;

    color: #666666;
}

.homeAddress {
    position: absolute;
    top: 80%;
    left: 20%;
  
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #154454;
}

.ha {
    position: absolute;
    width: 584px;
    height: 240px;
    left: 20%;
    top: 85%;
    
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 10px;
}