.body{
    position: absolute;
    bottom: 8%;
    left: 4.25%;
    top: 20%;
    right: 0%;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.choose{
    position: absolute;
    left: 21.96%;
    top: 5%;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #154454;
}

.info {
    position: absolute;
    left: 21.96%;
    top: 10%;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */
    display: flex;
    align-items: center;   
}

.mat-button-toggle-group{
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
}

.mat-button-toggle{
    position: absolute;
    width: 400px;
    height: 108px;
    left: 426px;
    top: 170px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.mat-button-toggle-checked{
    background: #E3F5FC !important;
    border: 1px solid #0783B6 !important;
    box-sizing: border-box !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08) !important;
    border-radius: 6px !important;
}

.userPro {
    position:absolute; 
    width: 60px;
    height: 60px;
    left: -650%;
    top: 7.5px;

    background: #FFFFFF;
    border: 1px solid #2E93B7;
    box-sizing: border-box;
    border-radius: 10px;
}

.userPro:hover{
    background: #0783B6;
}

.face {
    position: absolute;
    left: 34.68%;
    right: 64.35%;
    top: 27.21%;
    bottom: 71.05%;

    border: 0px solid #2E93B7;
}

.Body {
    position: absolute;
    left: 24%;
    right: 63.86%;
    top: 60%;
    bottom: 68.88%;

    border: 0px solid #2E93B7;
}

.IU{
    position: absolute;
    left: -350%;
    top: 10px;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;

    color: #154454;
}

.IU_des {
    position: absolute;
    left: -350%;
    top: 30px;
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    display: flex;
    align-items: center;
    
    color: #333333;
}

.choice1{
    position: absolute;
    width: 400px;
    height: 108px;
    left: 300px;
    top: 100px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.choice2{
    position: absolute;
    width: 400px;
    height: 108px;
    left: 724px;
    top: 100px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.choice3{
    position: absolute;
    width: 400px;
    height: 108px;
    left: 300px;
    top: 232px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.choice4{
    position: absolute;
    width: 400px;
    height: 108px;
    left: 724px;
    top: 232px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}